*{
    margin: 0;
    padding: 0;
}
/* css variables */
:root{
    --navbar-height:59px;

}
/* #trpimg{
    border-radius: 50%;
} */
#navbar{
    display: flex;
    position: relative;
}
#logo{
  margin: 34px 45px;

}
#logo img{
    margin:-18px -35px;
    height: 52px;
    border-radius:50px ;

}
#navbar ul{
    display: flex;
}
#navbar::before{
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
#navbar ul  li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul  li a{
    color: white;
display:block;
padding: 3px 22px;
border-radius: 20px;
text-decoration: none;



}
#navbar ul  li a:hover{
  color: black;
  background-color: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
background: url(bg1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'bree Serif',serif;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;

}
.btn{
    padding: 6px 20px ;
    border:2px solid white ;
    background-color: brown;
    color: white;
    margin: 17px ;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;

}